storage: none
framework: auto-detect

source https://api.nuget.org/v3/index.json

nuget Antlr4
nuget ApprovalTests
nuget coverlet.collector
nuget dnlib
nuget Humanizer.Core
nuget K4os.Compression.LZ4 = 1.1.11
nuget Microsoft.Build.Tasks.Core ~> 15
nuget Microsoft.DiaSymReader.Native
nuget Microsoft.Extensions.CommandLineUtils
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.Win32.Registry
nuget Moq
nuget MvvmLightLibsStd10
nuget NuGet.Frameworks
nuget Ookii.Dialogs.Wpf
nuget System.Collections.Immutable
nuget System.ComponentModel
nuget System.ComponentModel.Composition
nuget System.Console
nuget System.Diagnostics.Debug
nuget System.Diagnostics.Tools
nuget System.IO.Packaging
nuget System.Linq
nuget System.Reflection.Emit.Lightweight
nuget System.Runtime.Extensions
nuget System.Security.Cryptography.Algorithms
nuget System.Text.RegularExpressions
nuget System.ValueTuple
nuget System.Xml.XmlDocument
nuget xunit
nuget xunit.runner.visualstudio

group Build
  storage: none
  framework: auto-detect

  source https://api.nuget.org/v3/index.json
  
  nuget Nerdbank.GitVersioning

group Runtime
  storage: none
  framework: auto-detect

  source https://api.nuget.org/v3/index.json

  nuget Microsoft.NETFramework.ReferenceAssemblies strategy: min
  github MiloszKrajewski/K4os.Compression.LZ4:1.1.11 src/K4os.Compression.LZ4/Engine/LZ4_xx.cs

group TestTarget
  storage: none
  framework: >= net20
  
  source https://api.nuget.org/v3/index.json
  
  nuget Microsoft.Build.Framework
  nuget Microsoft.NETFramework.ReferenceAssemblies strategy: min
  nuget System.Text.RegularExpressions ~> 4 framework: >= net45