storage: none
framework: net472, netcoreapp2.2, netstandard2.0

source https://api.nuget.org/v3/index.json
source https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json

nuget Antlr4 ~> 4.6
nuget dnlib ~> 3.2
nuget Microsoft.Build.Tasks.Core ~> 15
nuget Microsoft.Extensions.CommandLineUtils ~> 1.1
nuget Microsoft.Extensions.DependencyInjection ~> 2.2
nuget Microsoft.Extensions.DependencyInjection.Abstractions ~> 2.2
nuget Microsoft.Extensions.Logging ~> 2.2
nuget Microsoft.Extensions.Logging.Abstractions ~> 2.2
nuget Microsoft.Extensions.Logging.Console ~> 2.2
nuget Microsoft.Win32.Registry ~> 4
nuget MvvmLightLibs ~> 5.4
nuget Nerdbank.GitVersioning
nuget NuGet.Frameworks ~> 5
nuget System.Buffers ~> 4
nuget System.Collections ~> 4
nuget System.Collections.Immutable ~> 1.5
nuget System.ComponentModel ~> 4
nuget System.ComponentModel.Composition ~> 4
nuget System.Console ~> 4
nuget System.Diagnostics.Debug ~> 4
nuget System.Diagnostics.Tools ~> 4
nuget System.IO.Packaging ~> 4
nuget System.Linq ~> 4
nuget System.Memory ~> 4
nuget System.Reflection.Emit.ILGeneration ~> 4
nuget System.Reflection.Emit.Lightweight ~> 4
nuget System.Reflection.Primitives ~> 4
nuget System.Resources.ResourceManager ~> 4
nuget System.Runtime ~> 4
nuget System.Runtime.Extensions ~> 4
nuget System.Security.Cryptography.Algorithms ~> 4
nuget System.Security.Cryptography.Primitives ~> 4
nuget System.Text.RegularExpressions ~> 4
nuget System.ValueTuple ~> 4
nuget System.Xml.XmlDocument ~> 4

group Test
  storage: none
  framework: auto-detect

  source https://api.nuget.org/v3/index.json
  
  nuget ApprovalTests ~> 3.0
  clitool dotnet-xunit ~> 2.3
  nuget Microsoft.NET.Test.Sdk ~> 15
  nuget Moq ~> 4.11
  nuget xunit ~> 2.4
  nuget xunit.runner.visualstudio ~> 2.4
  
group TestTarget
  storage: none
  framework: >= net20
  
  source https://api.nuget.org/v3/index.json
  
  nuget System.Text.RegularExpressions ~> 4 framework: >= net45